[submodule "shawnlawsonModule"]
	path = shawnlawsonModule
	url = https://github.com/shawnlawson/shawnmodule.git
[submodule "loki_camera_submodule"]
	path = loki_camera_submodule
	url = https://github.com/rasmul2/loki_camera_submodule
